<header>
    <nav>
        <ul>
            <li><a href="/shop">Home</a></li>
            <li><a href="/admin/add-expense">Add Expense</a></li>
            <li><a href="/shop/search">Search Expense</a></li>
            <li><a href="/shop/budget">Budget</a></li>
        </ul>
    </nav>
</header>